@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-navy-regal: #0F172A;
  --color-emerald-regal: #064E3B;
  --color-orange-regal: #C2410C;
  --color-art-gray: #E2E8F0;
  --color-off-white: #F8FAFC;
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-navy-regal selection:bg-orange-regal selection:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
